@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
  box-sizing: border-box;
}

nav {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  border-bottom-left-radius: 10% 10%;
  border-bottom-right-radius: 10% 10%;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
  background-image: url(https://image.freepik.com/free-photo/various-mexican-food-dark-background_23-2147740705.jpg);
  background-color: rgb(11, 4, 109);
  background-size: cover;
}

.header {
  font-size: 50px;
  margin-bottom: 30px;
  font-family: 'Satisfy', cursive;
  font-size: 70px;
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: 'Courgette', cursive;
  margin: 0;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.flex {
  display: flex;
}

input,
button {
  border: 1px solid #dedede;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px;
  padding: 8px 10px;
  margin: 0;
  outline: none;
}

input[type='text'] {
  width: 350px;
}

button:active {
  transform: scale(0.98);
}

.search-btn {
  cursor: pointer;
  border-left: 0;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.random-btn {
  cursor: pointer;
  margin-left: 10px;
  border-radius: 4px;
}

.meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.meal {
  cursor: pointer;
  position: relative;
  height: 180px;
  width: 180px;
}

.meal img {
  width: 100%;
  height: 100%;
  border: 2px rgb(0, 0, 0) solid;
  border-radius: 5px;
  padding: 4px;
}

.meal-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.meal:hover .meal-info {
  opacity: 1;
  color: rgb(255, 255, 255);
}

.single-meal {
  margin: 30px auto;
  width: 70%;
}

.single-meal img {
  width: 300px;
  margin: 15px;
  border: 2px rgb(0, 0, 0) solid;
  border-radius: 5px;
  padding: 4px;
}

.single-meal-info {
  margin: 20px;
  padding: 10px;
  font-size: 25px;
  /* border: 2px dashed rgb(0, 0, 0); */
}

.single-meal p {
  margin: 0;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.single-meal ul {
  padding-left: 0;
  list-style-type: none;
}

.single-meal ul li {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(219, 219, 219);
  display: inline-block;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin: 0 5px 5px 0;
}

@media (max-width: 800px) {
  .meals {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .meals {
    grid-template-columns: repeat(2, 1fr);
  }

  .meal {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 500px) {
  input[type='text'] {
    width: 100%;
  }
  .meals {
    grid-template-columns: repeat(1, 1fr);
  }
  .meal {
    height: 300px;
    width: 300px;
  }
}
